hr {
    margin: 0;
    color: var(--azul);
}

.rodape {
    font-family: var(--fonte-principal);
    background-color: var(--branco);
    padding: 1em;
}


.lista-rodape {
    display: none;
}


@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
    }


    .lista-rodape__titulo{
        font-size: 14px;
        color: var(--cinza-1);
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        font-size: 14px;
        color: var(--cinza);
        padding: 0 .5em;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-1);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}